# Dependencies
node_modules
.pnpm-store
package-lock.json
pnpm-lock.yaml
yarn.lock

# Next.js
.next
out
build

# Remix (old)
/build
/.cache

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Vercel
.vercel
